<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsip.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rsip"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_rsip_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.rsip.mobile.View.JadwalSholatActivity"></activity>
        <activity android:name="com.rsip.mobile.View.AyatActivity" />
        <activity android:name="com.rsip.mobile.View.MenuSurahActivity" />
        <activity android:name="com.rsip.mobile.View.EditProfileActivity" />
        <activity android:name="com.rsip.mobile.View.InfoDokterActivity" />
        <activity android:name="com.rsip.mobile.View.AgendaRsiActivity" />
        <activity android:name="com.rsip.mobile.View.DokterCutiActivity" />
        <activity android:name="com.rsip.mobile.View.RiwayatPeriksaActivity" />
        <activity android:name="com.rsip.mobile.View.DaftarKeluhanActivity" />
        <activity android:name="com.rsip.mobile.View.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rsip.mobile.View.InfoBedActivity" />
        <activity android:name="com.rsip.mobile.View.BookingActivity" />
        <activity
            android:name="com.rsip.mobile.View.LoginActivity"
            android:parentActivityName="com.rsip.mobile.View.StartActivity" />
        <activity android:name="com.rsip.mobile.View.StartActivity" />
        <activity
            android:name="com.rsip.mobile.View.RegisterActivity"
            android:parentActivityName="com.rsip.mobile.View.StartActivity" />
        <activity android:name="com.rsip.mobile.MainActivity" />
    </application>

</manifest>