<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsip.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.TentangAplikasiActivity"></activity>
        <activity android:name=".View.PrivaciPolicyActivity" />
        <activity android:name=".View.TentangActivity" />
        <activity android:name=".View.DetailAmbulanceKeluarActivity" />
        <activity
            android:name=".RecylcerView.DataAmbulanceKeluarActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".View.LandingJadwalOperasiActivity" />
        <activity android:name=".View.DetailRiwayatPeriksaActivity" />
        <activity
            android:name=".RecylcerView.RiwayatDaftarActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".View.SummaryPendaftaranActivity" />
        <activity android:name=".View.RingkasanDaftarOnlineActivity" />
        <activity
            android:name=".RecylcerView.PoliklinikActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity android:name=".View.DaftarOnlineActivity" />
        <activity
            android:name=".RecylcerView.HistoryPeriksaActivity"
            android:label="Jadwal Periksa"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.StatusBookingActivity" />
        <activity android:name=".View.DetailJadwalOperasiActivity" />
        <activity
            android:name=".RecylcerView.JadwalOperasiActivity"
            android:label="Jadwal Operasi"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.LupaPasswordActivity" />
        <activity
            android:name=".RecylcerView.DokterTodayActivity"
            android:label="Dokter Today"
            android:theme="@style/AppTheme" />
        <activity android:name=".View.ShareDokterActivity" />
        <activity android:name=".View.DetailDokterActivity" />
        <activity
            android:name=".View.InfoSemuaDokterActivity"
            android:label="Dokter"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".Utils.MyFirebaseCloudMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".View.ShareQuoteActivity" />
        <activity android:name=".View.QuoteActivity" />
        <activity android:name=".View.KalendarHijriActivity" />
        <activity android:name=".View.KartuBpjsActivity" />
        <activity android:name=".View.KartuActivity" />
        <activity android:name=".View.JadwalSholatActivity" />
        <activity android:name=".View.AyatActivity" />
        <activity android:name=".View.MenuSurahActivity" />
        <activity android:name=".View.EditProfileActivity" />
        <activity android:name=".View.InfoDokterActivity" />
        <activity android:name=".View.AgendaRsiActivity" />
        <activity android:name=".View.DokterCutiActivity" />
        <activity android:name=".View.RiwayatPeriksaActivity" />
        <activity android:name=".View.DaftarKeluhanActivity" />
        <activity android:name=".View.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.InfoBedActivity" />
        <activity android:name=".View.BookingActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:parentActivityName=".View.StartActivity" />
        <activity android:name=".View.StartActivity" />
        <activity
            android:name=".View.RegisterActivity"
            android:parentActivityName=".View.StartActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>